<!DOCTYPE html>
<html lang="en">

<head>
    <title>Altara Credit Customer Approval</title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootswatch/3.3.7/lumen/bootstrap.min.css">
    <!--    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.css"> -->
    <!-- <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css"> -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
    <link rel="stylesheet" href="https://fonts.googleapis.com/icon?family=Material+Icons">
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
    <link rel="stylesheet" type="text/css" href="style.css" />

</head>

<body>
    <div id="root">
        <div class="container">

            <header style="width:100%;background-color:#EEEEEE;;color:#00264d ;height:200px">
                <div>
                    <img src="altara_logo.png" alt="" style="width:213px; height:80px;">
                    <h1 style="color: #00264d ; text-align:center"> Document Acknowledgment Portal</h1>
                </div>

            </header>
            <div class="panel panel-primary">
                <div class="panel-heading" style="background-color: #00264d;">Altara Credit Documents</div>
                <div class="panel-body">
                    <div class="loading" v-if='dataloaded'>Loading&#8230;</div>
                    <p class="alert alert-danger alert-dismissable" v-if='errorMessage'>
                        <a href="#" class="close" v-on:click="resetMessage" data-dismiss="alert" aria-label="close">&times;</a> {{errorMessage}}
                    </p>
                    <p class="alert alert-success alert-dismissable" v-if='successMessage'>
                        <a href="#" class="close" v-on:click="resetMessage" data-dismiss="alert" aria-label="close">&times;</a> {{successMessage}}
                    </p>
                </div>
                <div v-if="!access_granted">
                    <div class="row " style="padding:40px;">
                        <div class="col-sm-6 form-group">
                            <label>Document Verification Agent ID</label>
                            <input type="text" placeholder="Enter DVA ID.." v-model="Employee_id" class="form-control">

                        </div>
                        <div class="col-sm-6 form-group">
                            <label>Access Code</label>
                            <input type="text" placeholder="Enter Access code Here.." v-model="Access_code" class="form-control">

                        </div>

                    </div>

                    <button type="button" @click="GainAccess()" class="btn btn-success btn-small" style="display:block; font-size:12px;margin:0 auto;">Check Customer</button>
                    <br>
                </div>

                <div v-if="access_granted && !idchecked && !verify && !acknow" class="row" style="padding:30px;width:90%;margin:0 auto; margin-top:20px;background-color:#EEEEEE">
                    <div class="col-sm-6 form-group">
                    <label>Customer ID</label>
                    <input type="text" placeholder="Enter Customer ID Here.." v-model="Customer_id" class="form-control">
                   </div>
                   <div class="col-sm-6 form-group">
                    <label for="task" class=" control-label">Task</label>
                    <select id="task" class="form-control" v-model="task">
                        <option value="Acknowledge">Acknowledge Document</option>
                        <option value="Verification">Verify  </option>   
                      </select>
                </div>

                    <br> <br>

                    <button type="button" @click="CheckId()" class="btn btn-success btn-small" style="display:block; font-size:12px;margin:0 auto;">Approve Customer</button>

                </div>

                <br>

                <div v-if="idchecked">
                        <div v-if="acknow && !verify">
                    <table class=" table table-bordered list">
                        <tr>
                            <th>Proof Of ID </th>
                            <th>2 Passport Photo</th>
                            <th>Utility Bill</th>
                            <th>Bank Statement</th>
                            <th>Guranrors Cheque</th>

                        </tr>
                        <tr>
                            <td> <button type="button" data-toggle="modal" data-target="#myModal" @click="ModalComfirm(proofid)" v-bind:class="{ 'btn-danger': check_id == 0 }" :disabled="check_id == 1" class="btn btn-small btn-primary">
                                        <span v-if="check_id == 1" class="glyphicon glyphicon-ok">Aprroved</span> 
                                        <span v-if="check_id == 0" class="glyphicon glyphicon-error">Not Approved</span> 
                                      </button>
                            </td>
                            <td> <button type="button" data-toggle="modal" data-target="#myModal" @click="ModalComfirm(passportp)" v-bind:class="{ 'btn-danger': check_pp == 0 }" :disabled="check_pp == 1" class="btn btn-small btn-primary">
                                        <span v-if="check_pp == 1" class="glyphicon glyphicon-ok">Aprroved</span> 
                                        <span v-if="check_pp == 0" class="glyphicon glyphicon-error">Not Aprroved</span>
                                      </button>
                            </td>
                            <td><button type="button" data-toggle="modal" data-target="#myModal" @click="ModalComfirm(utility)" v-bind:class="{ 'btn-danger': check_ut == 0 }" :disabled="check_ut == 1" class="btn btn-small btn-primary">
                                        <span  v-if="check_ut == 1" class="glyphicon glyphicon-ok">Aprroved</span>
                                        <span  v-if="check_ut == 0" class="glyphicon glyphicon-error"> Not Aprroved</span>
                                      </button>
                            </td>
                            <td> <button type="button" data-toggle="modal" data-target="#myModal" @click="ModalComfirm(banks)" :disabled="check_bs == 1" v-bind:class="{ 'btn-danger': check_bs == 0 }" class="btn btn-small btn-primary">
                                        <span   v-if="check_bs == 1" class="glyphicon glyphicon-ok">Aprroved</span>
                                        <span   v-if="check_bs == 0" class="glyphicon glyphicon-error">Not Aprroved</span>
                                      </button>
                            </td>
                            <td><button type="button" data-toggle="modal" data-target="#myModal" v-bind:class="{ 'btn-danger': check_gc == 0 }" @click="ModalComfirm(guachk)" :disabled="check_gc == 1" class="btn btn-primary">
                                <span   v-if="check_gc == 1" class="glyphicon glyphicon-ok">Aprroved</span>
                                <span   v-if="check_gc == 0" class="glyphicon glyphicon-error">Not Aprroved</span>
                              </button>
                            </td>

                        </tr>
                    </table>



                </div>


                <div v-if="!acknow && verify">
                    <table class=" table table-bordered list">
                        <tr>
                            <th>Work Gurantor </th>
                            <th>Personal Guarantor</th>
                            <th>Customer Store</th>
                           
                        </tr>
                        <tr>
                            <td> <button type="button" data-toggle="modal" data-target="#myModal" @click="ModalComfirm(work_gua)" v-bind:class="{ 'btn-danger': w_guar == 0 }" :disabled="w_guar == 1" class="btn btn-small btn-primary">
                                        <span v-if="w_guar == 1" class="glyphicon glyphicon-ok">Checked</span> 
                                        <span v-if="w_guar == 0" class="glyphicon glyphicon-error">Not Checked</span> 
                                      </button>
                            </td>
                            <td> <button type="button" data-toggle="modal" data-target="#myModal" @click="ModalComfirm(per_gua)" v-bind:class="{ 'btn-danger': p_guar == 0 }" :disabled="p_guar == 1" class="btn btn-small btn-primary">
                                        <span v-if="p_guar == 1" class="glyphicon glyphicon-ok">Checked</span> 
                                        <span v-if="p_guar == 0" class="glyphicon glyphicon-error">Not Checked</span>
                                      </button>
                            </td>
                            <td><button type="button" data-toggle="modal" data-target="#myModal" @click="ModalComfirm(store_visited)" v-bind:class="{ 'btn-danger': store_v == 0 }" :disabled="store_v == 1" class="btn btn-small btn-primary">
                                        <span  v-if="store_v == 1" class="glyphicon glyphicon-ok">Visited</span>
                                        <span  v-if="store_v == 0" class="glyphicon glyphicon-error"> Not Visited</span>
                                      </button>
                            </td>
                            
                        </tr>
                    </table>



                </div>

                <div v-if="idchecked" class="">

                    <button type="button" @click="idchecked= false;acknow=false;verify=false;check_id=0 ;check_gc = 0;store_v == 0; p_guar == 0; w_guar == 0; check_bs = 0;check_pp = 0 ; check_ut= 0; " class="btn btn-info btn-small" style="display:block; font-size:12px;margin:0 auto;">New Customer</button>
                    <br>
                </div>

                </div>
            </div>



            <!-- <div id="myModal" class="modal fade" role="dialog">
                <div class="modal-dialog">
                    <div class="modal-content">

                        <div class="panel-heading" style="background-color: #00264d;">
                            <h4 class="modal-title" style="color:white">Altara Credit Customer Registration</h4>
                        </div>

                        <div class="panel-body">

                        </div>
                    </div>
                </div>
            </div> -->


            <div id="myModal" class="modal fade">
                <div class="modal-dialog modal-confirm">
                    <div class="modal-content">
                        <div class="modal-header">
                            <div class="icon-box">
                                <i class="material-icons">&#xE5CD;</i>
                            </div>
                            <h4 class="modal-title">Are you sure?</h4>
                            <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
                        </div>
                        <div class="modal-body">
                            <p>Do you really want to Approve this? This process cannot be undone.</p>
                        </div>
                        <div class="modal-footer">
                            <button type="button" @click="Acknowledge(selected_doc)" data-dismiss="modal" class="btn btn-info">Approve</button>
                            <button type="button" class="btn btn-delete" data-dismiss="modal">Cancel</button>

                        </div>
                    </div>
                </div>
            </div>



        </div>
    </div>

    </div>

    <script type="text/javascript" src="axios.js">
    </script>
    <!-- <script type="text/javascript" src="download.js">
    </script> -->
    <script type="text/javascript" src="https://unpkg.com/vue@2.5.2">
    </script>
    <script type="text/javascript" src="app.js">
    </script>

</body>

</html>
